@font-face{
    font-family: 'NanumSquareNeo';
    src: url("../fonts/NanumSquareNeo-Variable.ttf") format("truetype");
}

@font-face{
    font-family: 'NanumPen';
    src: url("../fonts/NanumPen.ttf") format("truetype");
}

.add_course{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.add_course .wrapper{
    width: 1280px;
    height: 100%;
    padding: 20px;
    /* background: #ff0; */
    box-sizing: border-box;
}

.add_course .wrapper nav{
	width: 100%;
	margin-top: 20px;
}

.add_course .wrapper nav img{
	margin-left: 10px;
}

.add_course .wrapper nav img:hover{
	cursor: pointer;
}

.add_course .wrapper .input_container{
	display: flex;
	justify-content: center;
}

.add_course .wrapper .input_container .thumbnail{
	width: 350px;
}

.add_course .wrapper .input_container .thumbnail img{
	width: 300px;
	height: 300px;
}

.add_course .wrapper .input_container .thumbnail button{
	width: 100px;
	height: 30px;
	background: none;
	border: 1px solid #C8C8C8;
	border-radius: 7px;
}

.add_course .wrapper .input_container .thumbnail button:hover{
	cursor: pointer;
	background: #666666;
	color: #fff;
}

.add_course .wrapper .input_container .thumbnail span{
	display: inline-block;
	margin-left: 15px;	
}

.add_course .wrapper .input_container .course_info{
	width: 400px;
	margin-top: 20px;
	padding: 10px;
	font-family: 'NanumSquareNeo';
}

.add_course .wrapper .input_container .course_info input {
	width: 100%;
	height: 30px;
	border: 0px;
	border-bottom: 1px solid #C8C8C8;	
	padding-left: 5px;
	font-size: 18px;
}

.add_course .wrapper .input_container .course_info input:focus{
	outline: none;
}

.add_course .wrapper .input_container .course_info .title{
	display: flex;
	align-items: center;
}

.add_course .wrapper .input_container .course_info div{
	width: 100%;
	margin-left: 10px;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.add_course .wrapper .input_container .course_info div span{
	display: inline-box;
	width: 160px;
	font-size: 20px;
}

.add_course .wrapper .input_container .course_info .attendee select{
	width: 50px;
	border: 0;
	border-bottom: 1px solid #C8C8C8;
}

.add_course .wrapper .input_container .course_info .attendee select:focus{
	outline: none;
}

.add_course .wrapper .input_container .course_info .closing_date input{
	font-family: 'NanumSquareNeo';
	padding-left: 10px;
}

.add_course .wrapper .input_container .course_info .btn_container{
	width: 80%;
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 40%;
}

.add_course .wrapper .input_container .course_info .btn_container button{
	margin:10px;
	width: 80px;
	height: 35px;
	background: none;
	border: 1px solid #C8C8C8;
	border-radius: 7px;
}

.add_course .wrapper .input_container .course_info .btn_container button:hover{
	cursor: pointer;
	background: #666666;
	color: #fff;	
}

.add_course .wrapper .content_container{
	margin-top: 20px;
	width: 100%;
	padding: 10px;
}

.add_course .wrapper .content_container h3{
	padding-left: 10px;
}

.add_course .wrapper .content_container .editor{
	height: 600px;
}

.add_course .wrapper .content_container .editor .quill_editor{
	height: 80%;
}