@font-face{
    font-family: 'NanumSquareNeo';
    src: url("../fonts/NanumSquareNeo-Variable.ttf") format("truetype");
}

@font-face{
    font-family: 'NanumPen';
    src: url("../fonts/NanumPen.ttf") format("truetype");
}

.detail{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.detail .wrapper{
    width: 1280px;
    height: 100%;
    padding: 20px;
    /* background: #ff0; */
    box-sizing: border-box;
}

.detail .wrapper nav{
	width: 100%;
	margin-top: 20px;
}

.detail .wrapper nav img{
	margin-left: 10px;
}

.detail .wrapper nav img:hover{
	cursor: pointer;
}

.detail .wrapper .course_detail{
	width: 100%;
	margin: 10px;
	box-sizing: border-box;
}

.detail .wrapper .course_detail .title{
	font-size: 36px;
	margin-left: 10px;
}

.detail .wrapper .course_detail .course_info{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.detail .wrapper .course_detail .course_info img{
	width: 300px;
	height: 300px;
}

.detail .wrapper .course_detail .course_info .info{
	width: 300px;
	display: flex;
	flex-wrap: wrap;
}

.detail .wrapper .course_detail .course_info .info table{
	font-size: 24px;
}

.detail .wrapper .course_detail .course_info .info table .col_1{
	width: 100px;
	font-weight: 600;
}

.detail .wrapper .course_detail .course_info .info table .col_2{
	text-align: right;
}

.detail .wrapper .course_detail .course_info .info .apply{
	width: 100%;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
}

.detail .wrapper .course_detail .course_info .info .apply button{
	width: 45%;
	height: 100%;
	border: 1px solid #C8C8C8;
	background: #0059ff;
	border-radius: 10px;
	font-size: 18px;
	color: #fff;
}

.detail .wrapper .course_detail .course_info .info .apply button:hover{
	cursor: pointer;
	background: #fff;
	color: #0059ff;
	font-weight: 800;
}

.detail .wrapper .course_detail .course_content{
	width: 100%;
}

.detail .wrapper .course_detail .course_content .content{
	padding: 10px;
}