.header header{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header header .logo{
    display: flex;
    align-items: center;
}

.header header .logo:hover{
    cursor: pointer;
}

.header header .logo img{
    width: 45px;
    height: 45px;
}

.header header .logo span{
    font-family: 'NanumSquareNeo';
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 10px;
}